<h1>Create a new Appearance</h1>

<ul>

<form>
<div>
    <label for="guest">Choose a guest:</label>

    <select id="guest">
    <option value="guest">--Please choose an option--</option>
</div>
<div>
    <label for="episode">Choose a episode:</label>

    <select id="episode">
    <option value="episode">--Please choose an option--</option>
</div>
</form>


<%= link_to "Back", "/guests"%>
</ul>