<h1><%=@guest.name%></h1>

<p>Occupation: <%=@guest.occupation%></p>
<p>Episodes:</p>
<ul>
<%@guest.episodes.each do |e|%>
    <li><%=link_to "Episode ##{e.number}", e%></li>
<%end%>
</ul>
<%=link_to "Home", guests_path%>