<h1><%=@guest.name%></h1>

<p>Occupation: <%=@guest.occupation%></p><br>

<a href = '/guests'><button>Guest Index</button></a><br><br>

<a href = '/guests/<%=@guest.id%>/edit'><button>Edit Guest</button></a><br><br>

